:root {
    --color-title: hsla(0, 0%, 0%, 1); 
    --color-text: hsla(0, 0%, 40%, 1); 
    --color-cta: hsla(29, 89%, 49%, 1);
    --ff-text: 'Manrope', sans-serif;
    --fz-avatar: 1.6rem;
    --fz-title: 3.6rem; 
    --fz-nav: 1.8rem;
    --fz-texto: 2rem; 
    --lh-title-big: 1.3;  
    --lh-texto: 1.8; 
    --lh-title: 1.4; 
}

