/***** Custom Properties *****/
:root {
  --wrapper: max(2rem, 15.3vw - 18rem / 2);
  --color-title: hsla(0, 0%, 0%, 1);
  --color-text: hsla(0, 0%, 35%, 1);
  --color-cta: hsla(29, 89%, 49%, 1);
  --color-text-hover: hsl(29deg 90% 34%);
  --color-white: hsla(360, 100%, 100%, 1);
  --color-black: hsla(0, 0%, 2%, 1);
  --ff-text: "Manrope", sans-serif;
  --fs-avatar: 1.6rem;
  --fs-title: 3.6rem;
  --fs-nav: 1.8rem;
  --fs-text: 2rem;
  --lh-title-big: 1.3;
  --lh-text: 1.8;
  --lh-title: 1.4;
  --lh-avatar: 2;
}

/***** Reset *****/
html {
  font-family: var(--ff-text);
  font-size: 62.5%;
}

body {
  font-size: var(--fs-text);
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1 {
  line-height: var(--lh-title-big);
}

h2 {
  line-height: var(--lh-title);
}

p {
  line-height: var(--lh-text);
  color: var(--color-text);
}

/***** Components *****/
/**  Menu **/
.none {
  display: none;
}

.menu-btn {
  cursor: pointer;
}

.menu-btn svg {
  fill: var(--color-black);
}

.menu {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 110px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.nav-links {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-nav);
  color: var(--color-text);
  align-items: center;
  padding-top: 30px;
  row-gap: 20px;
}

.button-cta {
  cursor: pointer;
  font-weight: 700;
  padding: 14px 24px;
  border-radius: 5px;
  color: var(--color-black);
  background-color: var(--color-cta);
}

.button-cta:hover {
  background-color: var(--color-white);
  color: var(--color-text-hover);
  outline: 2px solid var(--color-text-hover);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 43.688rem) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    background-color: transparent;
    padding: 0;
  }

  .nav-links {
    flex-direction: row;
    column-gap: 2.4rem;
    padding: 0;
  }

  .text-lg-left {
    text-align: left;
  }
}

/***** avatar *****/
.autor {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.autor__avatar {
  width: 62px;
  height: 62px;
}

.autor__description p {
  font-size: var(--fs-avatar);
}

/***** Utilities *****/
.wrapper {
  padding: 0 var(--wrapper) 0;
}

/***** Site Styles *****/
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.link-card:hover {
  text-decoration: none;
  box-shadow: 2.8px 2.8px 3.5px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 8.5px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 16px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 28.6px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 53.5px rgba(0, 0, 0, 0.05),
    100px 100px 128px rgba(0, 0, 0, 0.07);
  transition: box-shadow 650ms ease;
}

.link-card:hover .change-color {
  color: var(--color-text-hover);
  transition: color 650ms ease;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: clamp(
    4.2rem,
    calc(4.2rem + (6.8 - 4.2) * ((100vw - 37rem) / (114 - 37))),
    6.8rem
  );
}

.main {
  padding-bottom: clamp(
    5rem,
    calc(5rem + (10 - 5) * ((100vw - 37rem) / (114 - 37))),
    10rem
  );
}

.main-card {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  margin-bottom: 5rem;
}

.main-card__img {
  background-image: url(/Assets/main-art.png);
  min-height: 26.6rem;
}

.card__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 100%;
}

.list-card {
  display: grid;
  row-gap: 5rem;
  align-items: start;
}

.card-content {
  display: flex;
  row-gap: 3.2rem;
  flex-direction: column;
  justify-content: space-between;
}

.card-1 {
  background-image: url(/Assets/art1.png);
}

.card-2 {
  background-image: url(/Assets/art2.png);
}

.card-3 {
  background-image: url(/Assets/art3.png);
}

.card-height {
  height: 202px;
}

.card__content {
  display: grid;
  row-gap: 1.6rem;
}

.card__content h1,
.card__content h2 {
  font-size: var(--fs-title);
  font-weight: 700;
}

.autor__description p {
  line-height: var(--lh-avatar);
}

.autor__description p:first-of-type {
  font-weight: 700;
  color: var(--color-title);
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  margin-bottom: 4rem;
}

.copy {
  font-size: var(--fs-avatar);
}

@media screen and (min-width: 43.688rem) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 62.438rem) {
  .main-card {
    flex-direction: row;
    column-gap: 70px;
    margin-bottom: 13rem;
  }

  .main-card__img {
    max-width: 39.2rem;
    margin-bottom: 0;
  }

  .list-card {
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-content {
    margin-bottom: 0;
  }
}
